html {
  width: 160px;
  height: 250px;
}

body {
  margin: 5px;
  position: relative;
  width: 150px;
  height: 250px;
}

div {
  width : 80%;
  margin : 0 auto;
  text-align: center;
}

img {
  margin-top: 4px;
  margin-bottom: 4px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 128px;
  border: 1px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  margin-top: 5px;
  font-size: 10px;
  word-wrap: break-word;
}